body {
  background-color: #282c34;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2vw;
}

nav {
  background-color: #D5C6E0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10vw;
}

.navbar {
  list-style: none;
  padding: 1vw;
}

a {
  color: #610345;
}

button {
  padding: 15px;
  border-radius: 5px;
  background-color: #E7EFC5;
  border: none;
}

.blogpost-item {
  padding: 4vw;
  margin: 0 25vw;
  border: 1px solid white;
}

.publication-date {
  font-size: 20px;
  font-style: italic;
}

.post-list {
  color: white;
}
